# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.zip

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

*.zip
.DS_Store

MacCode-master/PYproject/pythonProject/prime/4.算法/data/FBlocation/train.csv

# Build artifacts
build/
dist/
pyinstaller_cache/
*.spec
__pycache__/
*.pyc
